/* /src/styles.css */
body {
  background-color: #ecf3f9;
}

a {
  text-decoration: none;
}

/* navbar */
.navlinks {
  color: white;
}

.myNav {
  height: 90px;
  padding-left: 11rem;
  padding-right: 11rem;
}

.icnNavlink {
  width: 175px;
}

.activeNavLink {
  text-decoration: underline;
}

/* footer */
.myFoot {
  height: 60px;
  padding-left: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fooText {
  color: white;
}
