/* /src/styles.css */
body {
  background-color: #ecf3f9;
}

a {
  text-decoration: none;
}

/* navbar */
.navlinks {
  color: white;
}

.myNav {
  height: 90px;
  padding-left: 10rem;
  padding-right: 10rem;
}

.icnNavlink {
  width: 175px;
}

.activeNavLink {
  text-decoration: underline;
}
